.banner {
  /* 1. Set a background image */
  background-image:url(../../images/background2.jpg);   
  /* 2. Make the background image cover the banner div */
	background-size: cover;     
  /* 3. Center the image */
	background-position: center;
    /* Transparent gradient above */
  padding:20px 0px;
}



.banner h1 {
  color: grey;
  font-size: 100px;
  text-align: left;
  padding-left: 20px;
  padding-top:0px;
  margin-bottom: -70px;

}
.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
}
